@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
  font-family: Outfit;
}

.active hr {
  @apply block
}

::-webkit-scrollbar {
  @apply hidden
}

@media (max-width:740px) {
  .active p {
    @apply text-white bg-[#5f6FFF]
  }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}